<launch>
  <arg name="prefix_none"     value=""/>
  <arg name="prefix_xterm"    value="xterm -hold -e"/>
  <arg name="prefix_gdb"      value="xterm -e gdb -ex run --args"/>
  <arg name="prefix_callgrind" value="xterm -hold -e valgrind --tool=callgrind"/>

  <!--############################## CAMERA ##############################-->
  <node name="camera1394" pkg="camera1394" type="camera1394_node" respawn="false" output="screen">
	  <param name="use_ros_time" value="true" type="bool" />
  </node>

  <!--#################### IMU ####################-->
  <node pkg="microstrain_3dmgx1_imu" type="imu_node" name="imu" output="screen">
    <param name="port"                   value="/dev/ttyUSB3" type="string"/>
    <param name="autostart"              value="true"         type="bool"/>
    <param name="frameid"                value="imu"          type="string"/>
    <param name="autocalibrate"          value="false"        type="bool"/>
    <param name="angular_velocity_stdev" value="0.00017"      type="double"/>

    <remap from="data" to="/imu/data"/>
  </node>

  <!--############################## RECTIFIER ##############################-->
  <node pkg="jplvision" name="image_rectifier" type="image_rectifier_node" output="screen">
    <param name="cam_model" value="$(find downward_plane_tracker)/calibration/fireflyMV11221841.cahvor" type="str" />
    <param name="debug" value="0" type="int"/>
    <param name="rectify" value="1" type="int"/>

    <remap from="image" to="/camera/image_raw" />
    <remap from="rectimage" to="/camera/image_rect" />
  </node>


  <!--#################### SONAR SIMULATOR ####################-->
  <node pkg="sonar" type="sonar_1m_simulator_node" name="sonar" output="screen">
      <remap from="sonar_range" to="/sonar_range"/>
  </node>

  <!--############################## OPTICAL FLOW ##############################-->
  <node pkg="optical_flow" type="optical_flow" name="optical_flow" respawn="false" output="screen" launch-prefix="$(arg prefix_none)">
    <param name="downsample_times"    value="1"    type="int"/>
    <param name="matchscore_thresh"   value="10e11" type="double"/>
    <param name="num_keypoints"       value="25"   type="int"/>
    <param name="backwards_filter"    value="true" type="bool"/>
    <param name="backwards_threshold" value="10"   type="double"/>
    <param name="roll"  value="90.0"/>
    <param name="pitch" value="90.0"/>
    <param name="yaw"   value="00.0"/>

    <remap from="image" to="/camera/image_rect"/>
    <remap from="imu" to="imu/data"/>
  </node>

</launch>
